{% extends 'base.html' %}

{% block content %}

    <div class="row" style="width: 100%; max-height:100%;">
        <div class="col-lg-6 d-flex align-items-center">
            <div class="pl-5 pr-5 pb-5 pt-5" style="width:100%">
                {% if info.photo %}<img class="img-fluid mb-2" style="width:100%; height:auto; object-fit:cover;" src="/media/{{ info.photo }}">{% endif %}
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 match d-flex align-items-center order-sm-2 order-lg-2 order-md-2 order-1">
            <div class="pt-5 pb-5 pl-5 pr-5 aos-init aos-animate" data-aos="fade-left">

                <h1 class="blueText mb-4 mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-duration="900"> {{ info.title }} </h1>
                <div class="mb-2">
                    {% for tag in info.recipe_tags.all %}
                    <span class="badge badge-secondary mr-1">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <h6 class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">{{ info.pub_date }}</h6>
                <div data-aos="fade-up" data-aos-duration="1100" class="aos-init aos-animate"><p style="font-weight: 400;"> {{ info.intro }} </p></div>
                <ul class="list-inline list-unstyled mt-5">
                    <li class="list-inline-item mb-2 aos-init" data-aos="fade-up" data-aos-duration="1200">
                        <i class="fa fa-user pr-1" aria-hidden="true" style="height:25px;" alt="servings">  {{ info.servings }} porsjoner  </i>	
                    </li>
                    <li class="list-inline-item mb-2 aos-init" data-aos="fade-up" data-aos-duration="1300">
                        <i class="fas fa-clock pr-1" aria-hidden="true" style="height:25px;" alt="time"> {{ info.time }} </i>	
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row pt-5 pb-5" style="width: 100%;">
        <!--Ingredents -->
        <div class=" text-white bg-primary order-lg-2 col-lg-4">
            <div class=" card-body pt-5 pl-5 pr-5">
                <h4 class="card-title" style="text-align:center;">Ingredienser</h4>
                <hr style="height:2px;border-width:0;color:white;background-color:white">
                <div class="tab-content">
                    <form action="/recipes/add_to_shop/" method="post">
                    {% csrf_token %}
                    {% for ingredient in info.ingredient_set.all %}
                    <div class="custom-control custom-checkbox" name="selected" style="padding-bottom: 10px;">
                        <input type="checkbox" name="select{{ forloop.counter }}" value="{{ingredient.id}}" class="custom-control-input" id="customCheck{{ forloop.counter }}" style="width: 20px; height: 20px;"> <label class="custom-control-label" for="customCheck{{ forloop.counter }}">{{ ingredient.measurment }} {{ ingredient.name }}</label></input>
                    </div>
                    {% endfor %}
                    <li class="list-inline-item mb-3"><button type="button" class="btn btn-secondary" onclick="eventCheckBox()" id="selectall" name="selectall">Check all boxes</button></li>
                    <li class="list-inline-item mb-3"><button type="submit" class="btn btn-secondary">Add selected to Shoppinglist</button></li>
                    <li class="list-inline-item mb-3"><button type="submit" class="btn btn-warning" formaction="/recipes/remove_used/">Remove selected from Pantry</button></li>
                    </form>
                </div>
            </div>    
        </div>

        <div class="order-lg-1 col-lg-7"> 
            <div class="pt-5 pb-5 pl-5 pr-5">
                <h4 style="text-align:center;">Slik gjør du</h4>
                <table class="table table-hover">
                    <thead>
                        {% for Instruction in info.instruction_set.all %}
                      <tr>
                        <th scope="col">{{ forloop.counter }}</th>
                        <th scope="col">{{Instruction.text}}</th>
                      </tr>
                      {% endfor %}
                    </thead>
                </table>
            </div>
        </div>

 
    </div>

    {% if dinners %}
    <div class="row pb-5" style="width: 100%; padding-left: 40px; padding-right: 40px;">
        <div class="col-12">
            <h4 class="mb-1">Part of a dinner</h4>
            <p class="text-muted">This recipe appears in the following dinners.</p>
        </div>
        {% for dinner in dinners %}
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <a href="/recipes/dinners/{{ dinner.id }}/" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    {% if dinner.photo %}
                    <img class="card-img-top" src="/media/{{ dinner.photo }}"
                         style="height: 140px; object-fit: cover;" alt="{{ dinner.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="blueText mb-1">{{ dinner.title }}</h5>
                        {% if dinner.description %}
                        <p class="text-muted small mb-1">{{ dinner.description }}</p>
                        {% endif %}
                        <span class="badge badge-primary">
                            {{ dinner.components.count }} recipe{{ dinner.components.count|pluralize }}
                        </span>
                        <div class="mt-2">
                            <span class="btn btn-link btn-sm p-0">Plan this dinner →</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}