{% extends 'base.html' %}

{% block content %}
{% if tagg_list %}

<div style="padding-top: 40px; padding-left:60px;">
    <h1> Shopping List </h1>
    <ul class="list-inline list-unstyled mt-5" style="padding-right:60px;">
        <form action="/recipes/shopping/" method="post">
                {% csrf_token %}
                <li class="list-inline-item mb-2">
                    <label for="ingredient_type">Add something to the shopping list</label>
                    <select class="form-control" name="ingredient_type" id="ingredient_type">
                    {% for itype in ingredient_type_list %}
                    <option value="{{ itype.id }}">{{ itype.name }}</option>
                    {% endfor %}
                    </select>
                </li>
                <li class="list-inline-item mb-2">
                    <input type="number" name="qty" min="0.01" step="any" required
                           class="form-control" style="width:90px;" placeholder="qty">
                </li>
                <li class="list-inline-item mb-2">
                    <select name="unit" class="form-control" style="width:75px;">
                        {% for u in units %}<option value="{{ u }}">{{ u }}</option>{% endfor %}
                    </select>
                </li>
                <button type="submit" class="btn btn-primary">Add</button>
        </form>

        <a href="/recipes/delete_all"><button type="button" class="btn btn-danger float-right">Empty shopping</button></a>
    </ul>
    
    <div class="row pt-5 pb-5" style="width: 100%;">
        {% for tagg in tagg_list %}
        <!--Ingredents -->
        <div class=" text-white bg-primary order-lg-2 col-lg-3 border border-white">
            <div class=" card-body pt-4 pl-4 pr-4" style="padding-bottom: 10px; padding-left: 10px;">
                <h6 class="card-title" style="text-align:center;">{{tagg.name}}</h6>
                <hr style="height:2px;border-width:0;color:white;background-color:white">
                <div class="tab-content">
                    {% for item in shop_list %}
                    {% if item.ingredient.tagg == tagg %}
                    <div class="custom-control custom-checkbox">
                        <ul class="list-inline list-unstyled mt-4">
                            <li class="list-inline-item"> <input type="checkbox" class="custom-control-input" id="{{tagg.id}}{{ forloop.counter }}" style="width: 20px; height: 20px;"> <label class="custom-control-label" for="{{tagg.id}}{{ forloop.counter }}" style="font-size: 16px;">{{ item.ingredient.measurment }} {{ item.ingredient.name }}</label> </input>  </li>
                            <li class="list-inline-item float-right">
                                <form action="/recipes/pantry/add/" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="shop_item_id" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-success" style="padding:2px;" title="Move to Pantry"><i class="fas fa-box-open"></i></button>
                                </form>
                                <a href="/recipes/delete/{{item.id}}"> <button type="button" class="btn btn-primary" style="padding:2px;"> Delete <i class="fa fa-trash -fluid" style="padding-left: 10px;"></i> </button></a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>    
        </div>
        {% endfor %}
    </div>
</div>


{% else %}
    <p>Taggs are available.</p>
{% endif %}
{% endblock %}