{% extends 'navbar.html' %}


{% block content %}
  
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
				<h2>Contact</h2>
				<p>Hei er du interesert i å ansette meg til et prosjekt eller lurer du på noe? Ikke nøl med å ta kontakt på email til <a href="mailto:#">boonna26@gmail.com</a></p>
			    <p>Eller har du lyst til å se hva jeg drive med? Følg med på noen av de sosiale mediene nedenfor.</p>
			    <ul class="list-inline mb-0">
		            <li class="list-inline-item mb-3"><a class="twitter" href="https://twitter.com/mrcarrotbunny"><i class="fab fa-twitter fa-fw fa-lg"></i></a></li>
	                <li class="list-inline-item mb-3"><a class="linkedin" href="https://www.linkedin.com/in/benjamin-lunde/"><i class="fab fa-linkedin-in fa-fw fa-lg"></i></a></li>
	                <li class="list-inline-item mb-3"><a class="github" href="https://github.com/BenjaminLunde"><i class="fab fa-github-alt fa-fw fa-lg"></i></a></li>
	            </ul>			    
			</div>
      	</section>
    </div>
    
{% endblock %}
