{% extends 'navbar.html' %}

{% block content %}
    <div class="main-wrapper">
		<!-- Section for pdf-->
		<section class="cta-section theme-bg-light py-5">
			<div class="container text-center single-col-max-width">
				<h2 class="heading mb-3">Online Resume</h2>
				<a class="btn btn-success" href="https://drive.google.com/file/d/1ygCqtrRUbnzkk-WsmHef6j5GNHfJkd7X/view?usp=sharing" target="_blank"><i class="fas fa-file-pdf mr-2" style="font-size:20px;"></i>Download PDF Version</i></a>
			</div>
		</section>
		<!-- Resume section-->
		<div class="container px-3 px-lg-5">
			<article class="mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				<!-- Resume header-->
				<div>
					
					<div class="row align-items-center">
						<div class="col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="mb-0 text-uppercase text-success" style="font-size:42px; font-family:Helvetica">Benjamin Lunde</h2>
							<div class="mb-3 mb-md-0"><h4>Programutvikler : Informatiker</h4></div>
						</div>
						<div class="col-12 col-md-6 col-lg-4 col-xl-3" style="border-left:1px solid rgba(0,0,0,0.08);font-size:0.75rem;">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a  href="tel:#" style="color:inherit">46 815 229</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a href="mailto:#" style="color:inherit">boonna26@gmail.com</a></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a href="https://benjaminlunde.com/" style="color:inherit">www.benjaminlunde.com</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Oslo</li>
							</ul>
						</div>
					</div>
					
				</div>
				<hr>
				<!-- Resume body-->
				<div>
					<div class="row">
						<div class="col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<!-- Work section-->
							<section class="py-3">
								<h3 class="text-uppercase text-success">Arbeidserfaring</h3>
								<div class="mb-3">
									<div class="row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Turleder</h4>
										<div class="col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Mathy Travels | Mars 2014 -- August 2015</div>	
									</div>
									<div>
                                        <p>Turistguide for internasjonale turister som besøker Oslo. Jeg hadde ansvar for å planlegge besøket i Oslo og guide turistene gjennom oppholdet. Det inkluderte organisering av transport, klargjøring av kjøreruter, booke div. reservasjoner, innsjekking hotell og fly. Planlegge og håndtere uventede hendelser.</p>
                                        <p>Denne jobben var veldig spennende. Det var viktig å være tydelig men samtidig positiv og engasjert. Det var utfordrende å håndtere grupper på opptil 40 stk. med ulike språk og forventinger. For å innfri måtte jeg være løsningsorientert, kreativ og takle uforutsette ting.</p>
									</div>
								</div>
								<div class="mb-3">
									<div class="row align-items-center mb-2">
										<h4 class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Assistent AKS/SFO/Skole</h4>
										<div class="col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Rødvetskole | August 2014 -- August 2015</div>
									</div>
									<div>
										<p>Jobbet før og etter skoletid med barn. Der hadde jeg ansvar for lese- og skrivehjelp, kunst og håndverk og gym. Her lærte jeg mye om tålmodighet og omsorg</p>
                                        <p>Assisterte også noe på spesialbasen (utviklingshemmende) og som assistent i skoletiden. Her var oppmerksomhet ekstra viktig, men det var også veldig givende.</p>
									</div>
							</section>

							<!-- Additional info-->
							<section class="py-3">
                                <h3 class="text-uppercase mb-4 text-success">Tillegsopplysninger</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <div class="font-weight-bold">Sertifikat Klasse B</div>
                                        <div class="text-muted">06.02.2020 - 05.02-2035</div>
                                    </li>
                                    <li>
                                        <div class="font-weight-bold">Styremedlem Kr. Bygg Østfold AS</div>
                                        <div class="text-muted">2017-Nåværende</div>
                                    </li>
							</section>
							
							<!-- Edjucation section-->
                            <section class="py-3">
                                <h3 class="text-uppercase mb-4 text-success">Utdannelse</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <div class="font-weight-bold">Master i Informatikk/Sivilingernør</div>
                                        <div class="text-muted">Universitetet i Tromsø</div>
                                        <div class="text-muted">2015 - Nåværende</div>
                                    </li>
                                    <li>
                                        <div class="font-weight-bold">Realfagslinja</div>
                                        <div class="text-muted">Kristelig Gymnasium</div>
                                        <div class="text-muted">2011 - 2014</div>
                                    </li>
                                </ul>
                            </section>
						</div>
						<!-- Asidebar resume-->
						<aside class="col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<!-- Skills -->
							<section class="py-3">
								<h3 class="text-uppercase mb-4 text-success">Beste Egenskaper</h3>
								<div>
									<h4>Tekniske</h4>
									<ul class="list-unstyled">
										<li class="mb-2">C, C++, C#, F#</li>
										<li class="mb-2">Python, Ruby, PHP</li>
										<li class="mb-2">Node.js, .NET, Azure</li>
                                        <li class="mb-2">Databaser, MySQL, NoSQL</li>
                                        <li class="mb-2">AI, Machine learning, Deep neural networks</li>
										<li class="mb-2">Object-oriented design</li>
										<li class="mb-2">Front & Back-end development,Marketing</li>
										<li>Prosjektledelse, Agile-development, SCRUM</li>
									</ul>
								</div>
								<div>
									<h4>Personlige</h4>
									<ul class="list-unstyled">
										<li class="mb-2">Omgjengelig</li>
										<li class="mb-2">Arbeidsom</li>
										<li class="mb-2">Veldig god på problemløsning</li>
										<li>Pålitelig</li>
										</ul>
									</div>
								</section>
								
								<!-- Languange -->
                                <section class="py-3">
										<h3 class="text-uppercase mb-4 text-success">Språk</h3>
										<ul class="list-unstyled">
											<li class="mb-2">Norsk <span class="text-muted">(Native)</span></li>
                                            <li class="mb-2">English <span class="text-muted">(Fluent)</span></li>
                                            <li>Spanish <span class="text-muted">(Basic)</span></li>
										</ul>
								</section>

								<section class="education-section py-3">
										<h3 class="text-uppercase mb-4 text-success">Referangser</h3>
										<div class="font-weight-bold">Gis ved forespørsel</div>
										<!--ul class="list-unstyled">
											<li class="mb-3">
												<div class="font-weight-bold">Avdelings Leder</div>
												<div class="text-muted">Ann Katrin O. Johnsen</div>
												<div class="text-muted">Gis ved forespørsel</div>
											</li>
											<li>
												<div class="font-weight-bold">Personalansvarlig Norge</div>
												<div class="text-muted">Espen Matty</div>
												<div class="text-muted">Gis ved forespørsel</div>
                                            </li>
                                            <li>
												<div class="font-weight-bold">Personreferanse</div>
												<div class="text-muted">Iris Hansteen</div>
												<div class="text-muted">Gis ved forespørsel</div>
											</li>
										</ul-->
									</section>
								</aside>
							</div>
						</div>
						<hr>
						<div class="text-center">
							<ul class="list-inline mx-auto mb-0 d-inline-block text-muted">
								<li class="list-inline-item mb-lg-0 mr-3"><a  href="https://github.com/BenjaminLunde"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i></a></li>
								<li class="list-inline-item mb-lg-0 mr-3"><a  href="https://www.linkedin.com/in/benjamin-lunde/"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i></a></li>
								<li class="list-inline-item mb-lg-0 mr-lg-3"><a href="https://twitter.com/MrCarrotBunny"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i></a></li>
							</ul>
						</div>
					</article>
				</div>
	</div>
{% endblock %}
