<!-- templates/recipes/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title> Ben and Jenny's Recipes</title>
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    
    <!-- Bootstrap/Bootswatch -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<style>

img.list_image{
    width: 420px;
    height: 520px;
}

img.sidebar_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    max-height: 680px;
}

.border-3 {
    border-width:3px !important;
}
</style>

<script>
function eventCheckBox() {
  let checkboxs = document.getElementsByTagName("input");
  for(let i = 1; i < checkboxs.length ; i++) {
    checkboxs[i].checked = !checkboxs[i].checked;
  }
}
</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        {% if user.is_authenticated %}
        <a class="nav-link" href="/recipes/shopping"><i class="fas fa-shopping-cart" style="color: white; font-size: 30px;"></i></a></td>
        {% endif %}
        <a class="navbar-brand mx-auto" href="/recipes/" style="font-size:30px;">Ben & Jenny's</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="/recipes/account/" style="color: white; font-size: 18px;"> {{ user.username }} </a>
            <a class="nav-link" href="/recipes/accounts/logout/" style="color: white; font-size: 18px;"> Log out </a>
        {% else %}
        <a class="nav-link" href="/recipes/accounts/login/" style="color: white; font-size: 18px;">Log In</a>
        {% endif %}
    </nav>
    <main>
    <div style="padding-bottom: 80px;"></div>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>